table {
    width: 100%;    
  }

  .example-sidenav-content {
    
      padding: 1rem;
    
  }

  .botones{
     padding: 1rem;
  }

  .contenedor{
    display: flex; /* Utilizamos flexbox para alinear horizontalmente los divs */
    justify-content: left;
  }