<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="isDrawerOpen">
    <p>{{ (authUser$ | async)?.email }}</p>
    <p></p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  
    <main>
      
      <app-toolbar></app-toolbar>
      <p>{{(authUser$ | async)?.email}}</p> 
      <p>{{(authUser$ | async)?.nombre}}</p> 
      <app-observables></app-observables>
      <!--<app-tablas></app-tablas> -->
    </main>
    
  
  
 
</mat-drawer-container>

